# Visit https://github.com/lowlighter/metrics/blob/master/action.yml for full reference
name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: OtakuCoder2314
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Warsaw
          
          # Achievements plugin - SIMPLIFIED CONFIGURATION
          plugin_achievements: yes
          plugin_achievements_display: compact
          plugin_achievements_threshold: B
          
          # Activity plugin
          plugin_activity: yes
          plugin_activity_days: 14
          plugin_activity_filter: all
          plugin_activity_limit: 5
          plugin_activity_load: 300
          plugin_activity_visibility: all
          
          # Follow-up plugin
          plugin_followup: yes
          plugin_followup_sections: repositories
          
          # Habits plugin
          plugin_habits: yes
          plugin_habits_charts_type: classic
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_from: 200
          
          # ISO Calendar plugin
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          
          # Languages plugin
          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
          
          # Lines plugin
          plugin_lines: yes
          
          # Notable plugin
          plugin_notable: yes
          plugin_notable_from: organization
          plugin_notable_types: commit
          
          # Repositories plugin
          plugin_repositories: 100
          plugin_repositories_affiliations: owner
          plugin_repositories_batch: 100
          
          # Stargazers plugin
          plugin_stargazers: yes
          plugin_stargazers_charts_type: classic
